.cards {
  margin: 0;
  padding: 36px 19px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .cards {
    padding: 48px 0 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1028px) {
  .cards {
    max-width: 880px;
    column-gap: 17px;
  }
}
