.profile {
  margin: 0 auto;
  padding: 37px 0 0;
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: 160px auto auto;

}

@media screen and (max-width: 320px) {
  .profile {

  }
}

